---

---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/public/style.css">
		<title>Astro</title>
	</head>
	<body>
		<h1>🕒 Relógio Digital</h1>
		<div class="relogio">	
			<div id="hora">
				00
			</div>
			:
			<div id="minuto">
				00
			</div>
			:
			<div id="segundo">
				00
			</div>
		</div>	
	
		<script src="/src/components/script.js"></script>
	</body>

</html>

